[Desktop Entry]
Type=Application
Name=ClearMic
Comment=Enhance your microphone and create a virtual microphone
Exec=clearmic-cli gui
Terminal=false
Categories=AudioVideo;Audio;
